@charset "utf-8";


$royal-blue: #0e2e8f;
$white: #ffffff;

$label-color: $white;

$primary: $royal-blue;


body{
    background-image: url(./Pub/SVG/1x/Asset4.png);
    background-repeat: repeat;
    height: 100vh;
}
#descript-Box{
   
    height: 100%;
    border-style: none;
    width: 100%;
    resize: none;
    border-radius: 5px; 
    margin: 5px;
    font-size: 18pt;
}
#descript-Box:focus{
    border-style: none;
}
#sidebar-overflow{
    overflow-y: scroll !important;
    position: fixed;
}
.sidebar{
    height: 48em;
}

.card-portrait{
    width: 36em;
    height: 52em;
  
    z-index: auto;
    display: grid;
    position: fixed;
    top: 7%;
    left: 60%;
    padding: 15px;
    border-radius: 5px;   
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 7% 40% 10% 35%;
    row-gap: 10px;
   
   
}
.card-landscape{
    width: 26em;
    height: 18em;
    
    z-index: auto;
    display: grid;
    position: fixed;
    top: 28%;
    font-size: medium;
    left: 60%; 
    padding: 15px;
    border-radius: 5px; 
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 7% 53% 10% 28%;
    
    row-gap: 5px;
}
// basic card layout
.card-top{
    grid-row: 1;
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px; 
    font-family: 'Averia Serif Libre','serif';
    font-size: 18pt;
}
.card-image-container{
    display: flex;
    grid-row: 2;
    grid-column: span 4;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    height: 100%;
}

.card-img{
    display: flex;
    width: fit-content;
    height: 100%;

}
.card-type{
    display: flex;
    grid-row: 3;
    grid-column: span 4;
    align-items: center;
    border-radius: 5px; 
    font-size:18pt;
}
.card-description{
    display: flex;
    grid-row: 4;
    grid-column: span 4;
    align-items: center;
    border-radius: 5px; 
    font-size: 19;
}
// textCard layout
.card-text-description{
    display: flex;
    grid-row: span 3;
    grid-column:  span 4;
    align-items: center;
    border-radius: 5px; 
}

.margin-handle{
    margin: 5px;
}

.deckentry{
    width: 18em;
    height: 26em;
  
    z-index: 10;
    display: grid;
    position: fixed;
    background-color: green($color: #000000);
    top: 0;
    font-size: medium;
    left: 32%; 
}




@import "../node_modules/bulma/bulma.sass";
